<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <title class="logo" >V Blogs</title>
</head>
<body>
<div class="container">
    <h1>V Blog</h1>


    <span sec:authorize="isAuthenticated()">
    <p class="username">
        User: <span sec:authentication="principal.username"></span>
    </p><br>
</span>
    <span sec:authorize="isAuthenticated()">
    <p class="profile">
        <a  th:href="@{/profile}">Profile</a>
    </p><br>
</span>
    <hr>
    <ur>
        <li><a th:href="@{/registrationForm}" >Register</a></li>
        <li><a th:href="@{/showMyLoginPage}" >Login</a></li>

    </ur>
<hr>


        <div sec:authorize="hasAnyRole('author')">

    <a th:href="@{/showFormForAdd}" class="btn btn-primary btn-sm mb-3">Add Post</a>
    <a th:href="@{/draftPost}" class="btn btn-primary btn-sm mb-3">Draft Post</a>
        </div>
    <div class="container main-container">
        <div class="sidebar" style="background:grey">
            <form th:action="@{/}" method="get">
                <div>
                    <h1>Author</h1>
                    <div th:each="eachAuthor : ${authors}" class="author">
                        <div>
                            <input type="checkbox" th:value="${eachAuthor}" name="author" th:checked="${selectedAuthors.contains(eachAuthor)}">
                            <label th:text="${eachAuthor}"></label>
                        </div>
                    </div>
                    <h1>Tags</h1>
                    <div th:each="tag : ${tags}" class="tag">
                        <div>
                            <input type="checkbox" th:value="${tag}" name="tag" th:checked="${selectedTags.contains(tag)}">
                            <label th:text="${tag}"></label>
                        </div>
                    </div>
                    <div>
                        <h2>Published Date :</h2>
                        <input type="datetime-local" th:value="${startDate}" name="startDate">
                        <input type="datetime-local" th:value="${endDate}" name="endDate">
                    </div>
                </div>
                <input type="hidden" name="search" th:value="${searchParam}">
                <input type="submit" value="Apply Filters">
            </form>
        </div>
        <div class="posts-container">
            <form th:action="@{/}" method="get">
                <input type="search" name="search" placeholder="Search posts..." th:value="${searchParam}">
                <button type="submit">Search</button>
            </form>

            <form th:action="@{/}" class="links" method="get">
                <select name="sort">
                    <option value="publishedAt">Published At</option>
                </select>
                <button type="submit">Sort</button>
            </form>
            <div th:each="post : ${postsPage.content}" class="post-box">
                <h2 class="post-title"><a style="color:black;" th:href="@{/showPost(postId=${post.id})}" th:text="${post.title}"></a></h2>
                <p class="post-excerpt" th:text="${post.excerpt}"></p>
                <p class="post-author">Author: <span th:text="${post.author}"></span></p>
                <p class="post-publishedAt">Published At: <span th:text="${post.publishedAt}"></span></p>
            </div>

            <div class="pagination">
                <span th:unless="${postsPage.first}">
                    <a th:href="@{/(page=${postsPage.number - 1}, size=${postsPage.size},search=${searchParam},sort=${sortParam},author=${selectedAuthors},tag=${selectedTags},startDate=${startDate},endDate=${endDate})}">Previous</a> <br>
                </span>
                <span th:unless="${postsPage.last}">
                    <a th:href="@{/(page=${postsPage.number + 1}, size=${postsPage.size},search=${searchParam},sort=${sortParam},author=${selectedAuthors},tag=${selectedTags},startDate=${startDate},endDate=${endDate})}" sytle="padding-left:40%;">Next</a>
                </span>
            </div>
        </div>
    </div>
    <hr>
    <span sec:authorize="isAuthenticated()">
<form th:action="@{/logout}" method="POST">
    <input type="submit" value="Logout"/>
</form>
</span>
    <hr>
</div>
<div class="container mt-3">
    <a th:href="@{/}" class="btn btn-secondary">Back to Home</a>
</div>
</body>

</html>



